.jumbotron {
  background-image: url('../../resources/images/sea-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.my-3 {
  background-color: white;
}

#about {
  margin-bottom: 60px;
}

.main-content {
  height: auto;
  overflow: hidden;
  text-align: center;
  border: 2px solid #b3ecff;
  padding-top: 20px;
  margin-bottom: 40px;
}

.main-content img {
  max-width: 100%;
  margin-bottom: 20px;
  height: auto;
  display: block;
}

.alia {
  height: auto;
  overflow: hidden;
  text-align: center;
}

.alia img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
  display: block;
  border: 2px solid #b3ecff;
  padding: 10px;
}

.footer {
  padding-bottom: 100px;
  background-color: #b3ecff;
  text-align: center;
}

.footer div {
  padding: 20px;
}
